@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
body {
  background-color: #fef4e8;
  font-family: "Roboto Slab", serif;
}

iframe {
  margin-bottom: 3rem;
}

.where {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.social_networks {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.social_networks ul {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

body {
  background-color: #fef4e8;
  font-family: "Roboto Slab", serif;
}

/*footer*/
footer {
  margin-top: 40px;
  border-top: 2px solid #ff6363;
}
footer a i img {
  width: 1cm;
}

.developer {
  text-align: center;
}

.creation_date {
  text-align: center;
}

.footer_icons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2rem;
}

.developer {
  margin-top: 3rem;
}

body {
  background-color: #fef4e8;
  font-family: "Roboto Slab", serif;
}

/*Seccion Galeria de Imagenes*/
/*Seccion de Pedidos*/
.gallery h1 {
  size: 1.125rem;
  margin: 4rem;
}
.gallery .row .col img {
  border-radius: 80%;
  width: 100%;
}
.gallery .row .col img:hover {
  transform: scale(1.1);
  transition: 1s;
  border-radius: 20%;
}

/* medidas query */
/*CELULAR*/
/*cambios en la galeria de fotos*/
/*TABLET*/
/*cambios en la galeria de fotos*/
@media screen and (max-width: 480px) {
  .gallery .row .col .photo:hover {
    transform: none;
    transition: 2s;
    border-radius: 10%;
  }
}
.gallery .row .col .thumnail:hover {
  transform: none;
  transition: 2s;
  border-radius: 10%;
}

body {
  background-color: #fef4e8;
  font-family: "Roboto Slab", serif;
}

p {
  margin: 0;
}

#burger-toggle {
  position: absolute;
  appearance: none;
  opacity: 0;
}
#burger-toggle:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}
#burger-toggle:checked ~ .menu .menu-nav-link span div,
#burger-toggle:checked ~ .menu img,
#burger-toggle:checked ~ .menu .title p {
  transform: translateY(0);
  transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
  transition-delay: 0.18s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
  transition-delay: 0.26s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
  transition-delay: 0.34s;
}
#burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
  transition-delay: 0.42s;
}
#burger-toggle:checked ~ .burger-menu .line::after {
  transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
  transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}

.burger-menu {
  --burger-menu-radius: 4em;
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 100;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;
}
.burger-menu .line {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 3px;
  background: rgba(43, 61, 79, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.burger-menu .line:nth-child(1) {
  top: 30%;
}
.burger-menu .line:nth-child(2) {
  top: 50%;
}
.burger-menu .line:nth-child(3) {
  top: 70%;
}
.burger-menu .line::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-darker);
  transform: translateX(-100%);
  transition: 0.25s;
}
.burger-menu .line:nth-child(2)::after {
  transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after {
  transition-delay: 0.2s;
}
.burger-menu:hover .line::after {
  transform: translateX(0);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1e23;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;
}
@media screen and (max-width: 750px) {
  .menu {
    display: block;
  }
}
.menu-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
@media screen and (max-width: 750px) {
  .menu-nav {
    flex-direction: column;
  }
}
.menu-nav-item {
  flex: 1;
}
.menu-nav-link {
  position: relative;
  display: inline-flex;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.menu-nav-link span {
  overflow: hidden;
}
.menu-nav-link span div {
  transform: translateY(102%);
}
.menu-nav-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.menu-nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.menu .gallery {
  margin-top: 60px;
  text-align: center;
}
.menu .title {
  font-size: 1.125rem;
  color: white;
  overflow: hidden;
}
.menu .title p {
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(102%);
}
.menu .images {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
  .menu .images {
    justify-content: center;
  }
}
.menu .images .image-link {
  width: 15vw;
  margin: 0 12px;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .menu .images .image-link {
    width: 40vw;
    margin: 0 12px 12px 0;
  }
}
.menu .images .image-link .image {
  position: relative;
  transition: 0.6s;
}
.menu .images .image-link .image::before {
  position: absolute;
  content: attr(data-label);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s;
}
.menu .images .image-link:hover .image {
  transform: scale(1.2);
}
.menu .images .image-link:hover .image::before {
  opacity: 1;
}
.menu .images img {
  height: 250px;
  transform: translateY(102%);
}

header .logo_header .row {
  display: flex;
  justify-content: center;
}
header .logo_header .row .col-12 {
  display: flex;
}

/*Seccion de Pedidos*/
.request form h1 {
  size: var(--titles);
}
.request form .name {
  display: block;
  margin: 1rem;
  background-color: whitesmoke;
}
.request form .e_mail {
  display: block;
  margin: 1rem;
  background-color: whitesmoke;
}
.request form .phone {
  display: block;
  margin: 1rem;
  background-color: whitesmoke;
}
.request form .text_area {
  display: block;
  width: 80%;
  height: 160px;
  margin-top: 1rem;
  background-color: whitesmoke;
}
.request form .enviar {
  display: block;
  margin: 1rem;
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  color: #f08080;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}
.request form .enviar:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}
.request form .enviar:hover:not(:disabled) {
  background: #f08080;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}
.request form .enviar:disabled {
  cursor: auto;
  color: grey;
}

.request .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Seccion Quienes del Index*/
#quienes {
  margin-top: 60px;
  border-top: 2px solid #ff6363;
}

.history {
  text-align: justify;
}

#contacto h2 {
  size: 2rem;
  margin-top: 20px;
}

#contacto {
  margin-top: 60px;
  border-top: 2px solid #ff6363;
}
#contacto iframe {
  width: 100%;
  border-radius: 10%;
  margin-top: 20px;
}
#contacto .where {
  text-align: justify;
}
#contacto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#contacto ul li {
  list-style: none;
  display: inline;
  text-decoration: none;
}
#contacto ul li a i img {
  width: 1cm;
  display: block;
}
#contacto ul li p {
  list-style: none;
}

/*Tienda*/
/*Seccion Tortas*/
/*Seccion Mesas de Dulce*/
/*Seccion Ocaciones Especiales*/
.store h1 {
  size: 1.125rem;
  margin: 4rem;
}
.store a img {
  width: 100%;
  border-radius: 10%;
}

.products {
  text-decoration: none;
  color: #ff00b3;
}

.cakes h1 {
  size: 1.125rem;
  margin: 4rem;
}
.cakes a img {
  width: 100%;
  border-radius: 20%;
}
.cakes p {
  text-decoration: none;
  color: #ff00b3;
}

.kandy h1 {
  size: 1.125rem;
  margin: 4rem;
}
.kandy a img {
  width: 100%;
  border-radius: 20%;
}

.especial h1 {
  size: 1.125rem;
  margin: 4rem;
}
.especial a img {
  width: 100%;
  border-radius: 20%;
}

body {
  background-color: #fef4e8;
  font-family: "Roboto Slab", serif;
}

.fotos_index {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 50%;
}

.box:hover > img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
