@import "../base/colors";
@import "../base/lists";
@import "../base/maps";
@import "../base/variables";
@import "../base/extends";

iframe{
    margin-bottom: 3rem;
}

.where{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.social_networks{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.social_networks{
    ul{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}