@import "../base/colors";
@import "../base/lists";
@import "../base/maps";
@import "../base/variables";
@import "../base/extends";

/*Seccion Galeria de Imagenes*/
/*Seccion de Pedidos*/
.gallery {
	h1 {
		size: 1.125rem;
		margin: 4rem;
	}
	.row {
		.col {
			img {
				border-radius: 80%;
				width: 100%;
				&:hover {
					transform: scale(1.1);
					transition: 1s;
					border-radius: 20%;
				}
			}
		}
	}
}

/* medidas query */
/*CELULAR*/
/*cambios en la galeria de fotos*/
/*TABLET*/
/*cambios en la galeria de fotos*/
@media screen and (max-width: 480px) {
	.gallery {
		.row {
			.col {
				.photo {
					&:hover {
						transform: none;
						transition: 2s;
						border-radius: 10%;
					}
				}
			}
		}
	}
}
.gallery {
	.row {
		.col {
			.thumnail {
				&:hover {
					transform: none;
					transition: 2s;
					border-radius: 10%;
				}
			}
		}
	}
}
