@import "../base/colors";
@import "../base/lists";
@import "../base/maps";
@import "../base/variables";
/*Seccion Quienes del Index*/
#quienes {
	margin-top: 60px;
	border-top: 2px solid $color-subsections;
}
.history {
	text-align: justify;
}
#contacto h2{
    size: 2rem;
    margin-top: 20px;
}

#contacto {
	iframe {
		width: 100%;
		border-radius: 10%;
		margin-top: 20px;
	}
	.where {
		text-align: justify;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		li {
			a {
				i {
					img {
						width: 1cm;
						display: block;
					}
				}
			}
			list-style: none;
			display: inline;
			text-decoration: none;
			p {
				list-style: none;
			}
		}
	}
	margin-top: 60px;
	border-top: 2px solid $color-subsections;
}
